<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ site.description }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed/podcast.xml" />
    <link rel="stylesheet" href="/css/index.css">
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:image" content="{{ site.linkLogo }}">
    <meta property="og:description" content="{{ site.description }}">
    <link rel="preload" href="/font/ArquitectaBold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/font/BespokeSerif-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/font/BespokeSerif-Italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <title>The Entirety of Flight Through Entirety</title>
  </head>
  <body>
    <header class="band">
        <h1>The Entirety of<br>Flight Through Entirety</h1>
        <p>All of the <em>Flight Through Entirety</em> <em>Doctor Who</em> podcasts, together at last</p>
    </header>
    <main>
      <section class="band">
        <h2>Subscribe</h2>
        <ul class="subscriptions">
        {{- for subscription of subscriptions }}
            <li><a href="{{ subscription.url }}">{{ subscription.name }}</a></li>
        {{- /for }}
        </ul>
      </section>
      <section class="band">
        <h2>Podcasts</h2>
        <p><dfn>The Entirety of Flight Through Entirety</dfn> is a podcast that includes all the episodes of
        <em>Flight Through Entirety</em>’s four <em>Doctor Who</em> podcasts in the order of their release.</p>
        <dl class="podcasts">
        {{- for podcast of podcasts }}
        <li>
          <figure>
            <a href="{{ podcast.url }}">
              <img src="{{ podcast.image }}" alt="{{ podcast.name }} logo">
            </a>
            <figcaption>
              <h3><a href="{{ podcast.url }}">{{ podcast.name }}</a></h3>
              <p class="caption">{{ podcast.description }}</a></p>
            </figcaption>
          </figure>
        {{- /for }}
        </dl>
      </section>
      <section class="band">
        <h2>Recent Episodes</h2>
        <ul class="recent-episodes">
        {{- for episode of collections.episode.slice(0, 4) }}
            <li>
              <a href="{{ episode.link }}">
                <img src="{{ episode |> podcast |> atIndex('image') }}" alt="{{ episode |> podcast |> atIndex('name') }} logo" height="100" width="100">
              </a>
              <div>
                <h3><a href="{{ episode.link }}">{{ episode.title |> splitOnce(': ') |> atIndex(1) }}</a></h3>
                <p class="metadata">
                  {{ episode |> podcast |> atIndex('name') }} &middot;
                  {{ if episode['itunes:season'] }}
                    S{{ episode['itunes:season'] }}E{{ episode['itunes:episode'] }}
                  {{ else }}
                    #{{ episode }}
                  {{ /if -}} &middot;
                  <time datetime="{{ episode.pubDate }}">{{ episode.pubDate |> readableDate }}</time>
                </p>
                <p class="description">
                  {{ episode.description |> truncate(150) }}
                  <a href="{{ episode.link }}">[More]</a>
                </p>
                <audio controls src="{{ episode.enclosure['@_url'] }}"></audio>
              </div>
            </li>
        {{- /for }}
        </ul>
      </section>
    </main>
    <footer class="band">
      <p>
        {{ podcast.copyrightNotice }}.
        Created by <a href="https://gunsandfrocks.com">Nathan Bottomley</a> using <a href="https://11ty.dev">Eleventy</a>.
        Logos designed by <a href="https://bsky.app/profile/ohjamessellwood.bsky.social">James Sellwood.</a></p>
    </footer>
  </body>
</html>
